.u-section-1 .u-sheet-1 {
  min-height: 1382px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 39px 489px 0 447px;
}

.u-section-1 .u-video-1 {
  height: 287px;
  width: 540px;
  margin: 36px auto 0 275px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-group-1 {
  width: 308px;
  min-height: 620px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 47px auto 0 13px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 22px 0 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 260px;
  background-image: none;
  min-height: 170px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -620px auto 0 339px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 16px;
  padding-right: 6px;
  padding-top: 8px;
  padding-bottom: 20px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 21px 47px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 18px 47px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 47px 0 0;
}

.u-section-1 .u-group-3 {
  width: 261px;
  background-image: none;
  min-height: 170px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -172px 267px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 20px;
}

.u-section-1 .u-text-9 {
  margin: 29px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-group-4 {
  width: 250px;
  background-image: none;
  min-height: 210px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -170px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 72px;
  margin: 18px auto 0;
  padding-left: 8px;
}

.u-section-1 .u-btn-11 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-group-5 {
  width: 172px;
  background-image: none;
  min-height: 139px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 7px auto 0 334px;
}

.u-section-1 .u-container-layout-5 {
  padding: 9px 0;
}

.u-section-1 .u-text-13 {
  width: 128px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-6 {
  width: 172px;
  background-image: none;
  min-height: 139px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -141px 444px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 11px 10px;
}

.u-section-1 .u-text-14 {
  margin: 10px 9px 0 0;
}

.u-section-1 .u-group-7 {
  width: 172px;
  background-image: none;
  min-height: 139px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -139px 261px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 13px 0;
}

.u-section-1 .u-text-15 {
  margin: 10px 0 0 11px;
}

.u-section-1 .u-group-8 {
  width: 533px;
  background-image: none;
  min-height: 489px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 28px 271px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 9px;
}

.u-section-1 .u-text-16 {
  margin: 28px 32px 0 22px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 134px auto 0;
  padding: 13px 32px 13px 30px;
}

.u-section-1 .u-shape-1 {
  width: 260px;
  height: 305px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -478px 0 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -140px 42px 0 auto;
  padding: 14px 32px 15px 31px;
}

.u-section-1 .u-text-17 {
  margin: -180px 12px 0 892px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 150px 40px 0 auto;
  padding: 14px 32px 15px 31px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 54px 30px 0 auto;
  padding: 14px 31px 15px 29px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 18px 27px 0 auto;
  padding: 14px 45px 14px 44px;
}

.u-section-1 .u-group-9 {
  width: 308px;
  background-image: none;
  min-height: 229px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -197px auto -5px 13px;
}

.u-section-1 .u-container-layout-9 {
  padding: 7px 0;
}

.u-section-1 .u-text-18 {
  margin: 5px 25px 0 10px;
}

.u-section-1 .u-text-19 {
  margin: -22px 93px 0 27px;
}

.u-section-1 .u-text-20 {
  margin: 0 3px 0 47px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-21 {
  margin: 20px 3px 0 47px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-22 {
  margin: 20px 3px 0 47px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-23 {
  margin: 20px 3px 0 47px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 389px;
    margin-left: 347px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 704px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 279px;
    margin-left: 237px;
  }

  .u-section-1 .u-video-1 {
    margin-left: 180px;
  }

  .u-section-1 .u-group-8 {
    margin-right: 187px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 484px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 189px;
    margin-left: 147px;
  }

  .u-section-1 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 280px;
  }

  .u-section-1 .u-group-6 {
    margin-right: 368px;
  }

  .u-section-1 .u-group-8 {
    margin-right: 7px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 89px;
    margin-left: 47px;
  }

  .u-section-1 .u-video-1 {
    height: 181px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-left: 80px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 79px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 168px;
  }

  .u-section-1 .u-group-6 {
    margin-right: 168px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 168px;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 104px;
  }
}