.u-section-1 .u-sheet-1 {
  min-height: 1331px;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 440px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-video-1 {
  height: 131px;
  width: 298px;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-video-2 {
  height: 131px;
  width: 298px;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-video-3 {
  height: 131px;
  width: 298px;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-video-4 {
  height: 131px;
  width: 298px;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-4 {
  position: absolute;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-video-5 {
  height: 131px;
  width: 298px;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-5 {
  position: absolute;
}

.u-section-1 .u-text-5 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-video-6 {
  height: 131px;
  width: 298px;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-6 {
  position: absolute;
}

.u-section-1 .u-text-6 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-video-7 {
  height: 131px;
  width: 298px;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-7 {
  position: absolute;
}

.u-section-1 .u-text-7 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-video-8 {
  height: 131px;
  width: 298px;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-8 {
  position: absolute;
}

.u-section-1 .u-text-8 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-video-9 {
  height: 131px;
  width: 298px;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-9 {
  position: absolute;
}

.u-section-1 .u-text-9 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-video-10 {
  height: 131px;
  width: 298px;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-10 {
  position: absolute;
}

.u-section-1 .u-text-10 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-video-11 {
  height: 131px;
  width: 298px;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-11 {
  position: absolute;
}

.u-section-1 .u-text-11 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-video-12 {
  height: 131px;
  width: 298px;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-12 {
  position: absolute;
}

.u-section-1 .u-text-12 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 983px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 1694px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}